.flex-container {
    /* background-image: url(./images/image1.jpeg); */
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 10px;
    /* text-align: center; */
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    /* padding: 10px; */
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    /* padding: 10px; */
    flex: 50%;
  }

  .footer{
      height: 50px;
      width: 100%;
      /* background-color: black; */
  }

  .cross-line{
    width: 60%;
    height : 112vh;
    border-right-style:solid ;
    border-right-width: 1px;
    border-color: black;
    transform: rotate(23deg);
    z-index: -1;
    position: absolute;
    top:-31.5%;
    left: -5.5%;


  }

  